<div class="center-wrapper">
    <div class="center-box" #centerbox>
        <div class="title" #title>
            <p class="title-top">Transaction</p>
            <p class="title-bottom">Manager</p>
        </div>
        <div class="content">
            <form class="login-form">
                <div class="form-group">
                    <mat-label class="label">Username:</mat-label>
                    <input matInput (ngModelChange)="onInfoChange()" [attr.disabled]="(currentContext === 'Loading') ? true : null" type="text" class="input" name="username" required [(ngModel)]="username">
                </div>
                <div class="form-group">
                    <mat-label class="label">Password:</mat-label>
                    <input matInput (ngModelChange)="onInfoChange()" type="password" [attr.disabled]="(currentContext === 'Loading') ? true : null" class="input input__password" name="password" [(ngModel)]="password" required>
                </div>
                <div class="btn-container">
                    <button mat-raised-button [attr.disabled]="(currentContext === 'Loading') ? true : null" (click)="login()" class="btn primary">Login</button>
                </div>
            </form>
        </div>
        <div class="status-container">
            <div [ngClass]="{'loading-spinner': currentContext === 'Loading', 'loading-spinner__red': currentContext === 'Failed' , 'loading-spinner__green': currentContext === 'Success'}">
                <div [ngClass]="{'cross': currentContext === 'Failed', 'checked': currentContext === 'Success'}"></div>
            </div>
            <p class="status" *ngIf="status || status.length > 0 || status !== null">{{status}}</p>
        </div>
    </div>
  </div>